:root {
  --ref-palette-primary0: 0, 0, 0;
  --ref-palette-primary10: 0, 33, 9;
  --ref-palette-primary20: 0, 57, 20;
  --ref-palette-primary25: 0, 70, 26;
  --ref-palette-primary30: 0, 83, 32;
  --ref-palette-primary35: 0, 96, 39;
  --ref-palette-primary40: 0, 110, 45;
  --ref-palette-primary50: 0, 138, 59;
  --ref-palette-primary60: 0, 167, 73;
  --ref-palette-primary70: 13, 197, 89;
  --ref-palette-primary80: 66, 226, 113;
  --ref-palette-primary90: 103, 255, 140;
  --ref-palette-primary95: 197, 255, 200;
  --ref-palette-primary98: 235, 255, 231;
  --ref-palette-primary99: 246, 255, 241;
  --ref-palette-primary100: 255, 255, 255;
  --ref-palette-secondary0: 0, 0, 0;
  --ref-palette-secondary10: 15, 31, 17;
  --ref-palette-secondary20: 36, 52, 37;
  --ref-palette-secondary25: 46, 64, 47;
  --ref-palette-secondary30: 58, 75, 58;
  --ref-palette-secondary35: 69, 87, 69;
  --ref-palette-secondary40: 81, 99, 81;
  --ref-palette-secondary50: 105, 124, 105;
  --ref-palette-secondary60: 131, 150, 129;
  --ref-palette-secondary70: 157, 176, 155;
  --ref-palette-secondary80: 184, 204, 182;
  --ref-palette-secondary90: 212, 232, 209;
  --ref-palette-secondary95: 226, 246, 223;
  --ref-palette-secondary98: 235, 255, 231;
  --ref-palette-secondary99: 246, 255, 241;
  --ref-palette-secondary100: 255, 255, 255;
  --ref-palette-tertiary0: 0, 0, 0;
  --ref-palette-tertiary10: 0, 31, 36;
  --ref-palette-tertiary20: 0, 54, 61;
  --ref-palette-tertiary25: 17, 65, 73;
  --ref-palette-tertiary30: 31, 77, 84;
  --ref-palette-tertiary35: 44, 89, 96;
  --ref-palette-tertiary40: 57, 101, 109;
  --ref-palette-tertiary50: 82, 126, 134;
  --ref-palette-tertiary60: 108, 152, 160;
  --ref-palette-tertiary70: 134, 179, 187;
  --ref-palette-tertiary80: 161, 206, 215;
  --ref-palette-tertiary90: 189, 234, 243;
  --ref-palette-tertiary95: 209, 247, 255;
  --ref-palette-tertiary98: 237, 252, 255;
  --ref-palette-tertiary99: 246, 253, 255;
  --ref-palette-tertiary100: 255, 255, 255;
  --ref-palette-neutral0: 0, 0, 0;
  --ref-palette-neutral4: 12, 15, 12;
  --ref-palette-neutral6: 17, 20, 17;
  --ref-palette-neutral10: 26, 28, 25;
  --ref-palette-neutral12: 30, 32, 29;
  --ref-palette-neutral17: 40, 43, 39;
  --ref-palette-neutral20: 46, 49, 45;
  --ref-palette-neutral22: 51, 53, 50;
  --ref-palette-neutral25: 58, 60, 56;
  --ref-palette-neutral30: 69, 71, 68;
  --ref-palette-neutral35: 81, 83, 79;
  --ref-palette-neutral40: 93, 95, 91;
  --ref-palette-neutral50: 117, 120, 115;
  --ref-palette-neutral60: 143, 145, 141;
  --ref-palette-neutral70: 170, 172, 167;
  --ref-palette-neutral80: 198, 199, 194;
  --ref-palette-neutral87: 217, 219, 213;
  --ref-palette-neutral90: 226, 227, 221;
  --ref-palette-neutral92: 231, 233, 227;
  --ref-palette-neutral94: 237, 238, 233;
  --ref-palette-neutral95: 240, 241, 235;
  --ref-palette-neutral96: 243, 244, 238;
  --ref-palette-neutral98: 249, 250, 244;
  --ref-palette-neutral99: 252, 253, 247;
  --ref-palette-neutral100: 255, 255, 255;
  --ref-palette-neutral-variant0: 0, 0, 0;
  --ref-palette-neutral-variant10: 23, 29, 22;
  --ref-palette-neutral-variant20: 43, 50, 43;
  --ref-palette-neutral-variant25: 54, 61, 53;
  --ref-palette-neutral-variant30: 66, 73, 65;
  --ref-palette-neutral-variant35: 77, 84, 76;
  --ref-palette-neutral-variant40: 89, 96, 88;
  --ref-palette-neutral-variant50: 114, 121, 112;
  --ref-palette-neutral-variant60: 139, 147, 137;
  --ref-palette-neutral-variant70: 166, 173, 163;
  --ref-palette-neutral-variant80: 193, 201, 190;
  --ref-palette-neutral-variant90: 221, 229, 217;
  --ref-palette-neutral-variant95: 236, 243, 231;
  --ref-palette-neutral-variant98: 244, 252, 240;
  --ref-palette-neutral-variant99: 247, 254, 243;
  --ref-palette-neutral-variant100: 255, 255, 255;
  --ref-palette-error0: 0, 0, 0;
  --ref-palette-error10: 65, 0, 2;
  --ref-palette-error20: 105, 0, 5;
  --ref-palette-error25: 126, 0, 7;
  --ref-palette-error30: 147, 0, 10;
  --ref-palette-error35: 168, 7, 16;
  --ref-palette-error40: 186, 26, 26;
  --ref-palette-error50: 222, 55, 48;
  --ref-palette-error60: 255, 84, 73;
  --ref-palette-error70: 255, 137, 125;
  --ref-palette-error80: 255, 180, 171;
  --ref-palette-error90: 255, 218, 214;
  --ref-palette-error95: 255, 237, 234;
  --ref-palette-error98: 255, 248, 247;
  --ref-palette-error99: 255, 251, 255;
  --ref-palette-error100: 255, 255, 255;
}
