:root {
  --ref-palette-primary0: 0, 0, 0;
  --ref-palette-primary10: 0, 33, 21;
  --ref-palette-primary20: 0, 56, 38;
  --ref-palette-primary25: 0, 69, 47;
  --ref-palette-primary30: 0, 81, 57;
  --ref-palette-primary35: 0, 95, 67;
  --ref-palette-primary40: 0, 108, 77;
  --ref-palette-primary50: 0, 136, 97;
  --ref-palette-primary60: 18, 164, 119;
  --ref-palette-primary70: 64, 192, 145;
  --ref-palette-primary80: 96, 220, 171;
  --ref-palette-primary90: 126, 249, 198;
  --ref-palette-primary95: 189, 255, 222;
  --ref-palette-primary98: 232, 255, 241;
  --ref-palette-primary99: 244, 255, 246;
  --ref-palette-primary100: 255, 255, 255;
  --ref-palette-secondary0: 0, 0, 0;
  --ref-palette-secondary10: 9, 32, 22;
  --ref-palette-secondary20: 31, 53, 43;
  --ref-palette-secondary25: 42, 64, 53;
  --ref-palette-secondary30: 53, 75, 64;
  --ref-palette-secondary35: 65, 87, 76;
  --ref-palette-secondary40: 77, 99, 88;
  --ref-palette-secondary50: 101, 124, 112;
  --ref-palette-secondary60: 126, 150, 137;
  --ref-palette-secondary70: 152, 177, 163;
  --ref-palette-secondary80: 179, 204, 190;
  --ref-palette-secondary90: 207, 233, 217;
  --ref-palette-secondary95: 221, 247, 231;
  --ref-palette-secondary98: 232, 255, 241;
  --ref-palette-secondary99: 244, 255, 246;
  --ref-palette-secondary100: 255, 255, 255;
  --ref-palette-tertiary0: 0, 0, 0;
  --ref-palette-tertiary10: 0, 31, 41;
  --ref-palette-tertiary20: 8, 53, 68;
  --ref-palette-tertiary25: 23, 64, 79;
  --ref-palette-tertiary30: 37, 75, 91;
  --ref-palette-tertiary35: 49, 87, 103;
  --ref-palette-tertiary40: 62, 99, 116;
  --ref-palette-tertiary50: 87, 124, 141;
  --ref-palette-tertiary60: 112, 150, 168;
  --ref-palette-tertiary70: 138, 177, 195;
  --ref-palette-tertiary80: 165, 204, 223;
  --ref-palette-tertiary90: 193, 232, 252;
  --ref-palette-tertiary95: 223, 244, 255;
  --ref-palette-tertiary98: 243, 250, 255;
  --ref-palette-tertiary99: 250, 252, 255;
  --ref-palette-tertiary100: 255, 255, 255;
  --ref-palette-neutral0: 0, 0, 0;
  --ref-palette-neutral4: 12, 15, 13;
  --ref-palette-neutral6: 17, 20, 18;
  --ref-palette-neutral10: 25, 28, 26;
  --ref-palette-neutral12: 29, 32, 30;
  --ref-palette-neutral17: 39, 43, 40;
  --ref-palette-neutral20: 46, 49, 47;
  --ref-palette-neutral22: 50, 54, 51;
  --ref-palette-neutral25: 57, 60, 58;
  --ref-palette-neutral30: 68, 72, 69;
  --ref-palette-neutral35: 80, 83, 80;
  --ref-palette-neutral40: 92, 95, 92;
  --ref-palette-neutral50: 117, 120, 117;
  --ref-palette-neutral60: 143, 145, 142;
  --ref-palette-neutral70: 169, 172, 168;
  --ref-palette-neutral80: 197, 199, 195;
  --ref-palette-neutral87: 216, 219, 215;
  --ref-palette-neutral90: 225, 227, 223;
  --ref-palette-neutral92: 231, 233, 229;
  --ref-palette-neutral94: 236, 238, 235;
  --ref-palette-neutral95: 239, 241, 237;
  --ref-palette-neutral96: 242, 244, 240;
  --ref-palette-neutral98: 248, 250, 246;
  --ref-palette-neutral99: 251, 253, 249;
  --ref-palette-neutral100: 255, 255, 255;
  --ref-palette-neutral-variant0: 0, 0, 0;
  --ref-palette-neutral-variant10: 21, 29, 25;
  --ref-palette-neutral-variant20: 42, 50, 45;
  --ref-palette-neutral-variant25: 53, 61, 56;
  --ref-palette-neutral-variant30: 64, 73, 68;
  --ref-palette-neutral-variant35: 75, 85, 79;
  --ref-palette-neutral-variant40: 87, 96, 91;
  --ref-palette-neutral-variant50: 112, 121, 115;
  --ref-palette-neutral-variant60: 138, 147, 141;
  --ref-palette-neutral-variant70: 164, 173, 167;
  --ref-palette-neutral-variant80: 191, 201, 194;
  --ref-palette-neutral-variant90: 219, 229, 221;
  --ref-palette-neutral-variant95: 234, 243, 235;
  --ref-palette-neutral-variant98: 242, 252, 244;
  --ref-palette-neutral-variant99: 245, 255, 247;
  --ref-palette-neutral-variant100: 255, 255, 255;
  --ref-palette-error0: 0, 0, 0;
  --ref-palette-error10: 65, 0, 2;
  --ref-palette-error20: 105, 0, 5;
  --ref-palette-error25: 126, 0, 7;
  --ref-palette-error30: 147, 0, 10;
  --ref-palette-error35: 168, 7, 16;
  --ref-palette-error40: 186, 26, 26;
  --ref-palette-error50: 222, 55, 48;
  --ref-palette-error60: 255, 84, 73;
  --ref-palette-error70: 255, 137, 125;
  --ref-palette-error80: 255, 180, 171;
  --ref-palette-error90: 255, 218, 214;
  --ref-palette-error95: 255, 237, 234;
  --ref-palette-error98: 255, 248, 247;
  --ref-palette-error99: 255, 251, 255;
  --ref-palette-error100: 255, 255, 255;
}
