label.gecut-input {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;

    direction: ltr;

    &::placeholder {
      direction: rtl;

      @apply text-onSurfaceVariant font-normal tracking-normal font-vazirmatn text-start;
    }

    @apply font-roboto;
  }

  input {
    direction: rtl;

    &[dir='ltr'] {
      direction: ltr;
    }

    &::placeholder {
      @apply text-onSurfaceVariant font-normal tracking-normal;
    }

    &[name='otp'] {
      letter-spacing: 0.5rem;

      @apply font-black;
    }

    &.card-number {
      letter-spacing: 0.2rem;

      @apply text-center w-full px-0;
    }

    @apply bg-transparent grow !outline-none !border-none !ring-0;
  }

  .loading {
    @apply !text-onSurfaceVariant transition;
  }

  .gecut-icon {
    @apply text-[1.75rem] text-onSurfaceVariant transition-colors;
  }

  &:has(input:valid) {
    .gecut-icon {
      @apply text-primary;
    }

    @apply stateActive-primary;
  }
  &:has(input:invalid) {
    .gecut-icon {
      @apply text-outline;
    }

    @apply stateActive-error;
  }

  &:has(input:focus:valid) {
    @apply border-primary;
  }
  &:has(input:focus:invalid) {
    @apply border-error;
  }

  @apply bg-surfaceContainerLowest h-12 rounded-xl overflow-hidden flex items-center gap-2 px-2 text-bodyMedium text-onSurface border border-transparent transition-colors shrink-0 text-start;
}
